<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='/pages/assets.js'></script>
  <script>
    var link = document.createElement("link");
    var s = document.createElement('script');
    s.src = 'pages/' + window.assets["{{ pageName }}"][0];
    s.type = "text/javascript";
    s.async = false;
    document.getElementsByTagName('head')[0].appendChild(s);
  </script>

  <title>Document</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>